PORT=5000
RAZORPAY_KEY_ID=rzp_test_SQ5mxNlIKLJq6k
RAZORPAY_KEY_SECRET=9HdsNjFogsAeXX6eIquaT5zh
SUPABASE_URL=https://txjyjhwbgfhvbglqbgce.supabase.co
SUPABASE_ANON_KEY=sb_publishable_D0wsyuDLG-8082I5UC0oJA_en5OsXbK
